* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* max-width: 1140px; */
  font-size: 22px;
  color: rgb(24, 23, 23);
  font-family: "lato", sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 200%;
  font-weight: 300;
  margin-bottom: 10px;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  color: black;
  font-weight: 300;
  word-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 120%;
}

h2 {
  font-size: 180%;
  word-spacing: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

h4 {
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/*---------- HEADER ----------*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.logo {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
}

.nav-head {
  list-style: none;
  display: inline-block;
}

.nav-head li {
  display: inline-block;
  margin-right: 40px;
}

.nav-head li:last-child {
  margin-right: 0;
}

.nav-head a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.nav-head a:hover,
.nav-head a:active {
  color: rgb(207, 202, 202);
  border-bottom: 1px solid rgb(207, 202, 202);
}

header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/6.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
}

header p {
  color: white;
  font-size: 100%;
  font-weight: 300i;
}

.heading-text {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

/*---------- DESTINATION ----------*/

.destination {
  text-align: center;
  background: #f4f4f4;
  padding: 150px;
}

.destination p {
  width: 70%;
  margin-left: 15%;
  line-height: 145%;
  margin-top: 20px;
  font-size: 90%;
}

/*---------- RESERVATION ----------*/

.reservation {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/blur-close-up-cutlery-735869.jpg) no-repeat;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.reservation-head {
  width: 1140;
  color: white;
  text-align: center;
}

.reservation-head a {
  text-decoration: none;
  color: #fff;
  border-radius: 200px;
  border: 1px solid #fff;
  font-size: 75%;
  font-weight: 400;
  display: inline-block;
  padding: 20px 30px;
  margin-top: 30px;
}

.reservation-head a:hover {
  color: #000;
  border: 1px solid #fff;
  background: #fff;
}

.reservation-head p {
  font-size: 120%;
  font-weight: 300;
}

.reservation h2 {
  font-weight: 400;
}

/*---------- images ----------*/

.images {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.images ul {
  list-style: none;
  width: 90%;
  display: flex;
  margin-left: 5%;
  margin-bottom: 50px;
}

.box {
  display: block;
  width: 30%;
  margin: 1.66%;
}

.images img {
  width: 100%;
  height: auto;
}

.menu {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.menu p {
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}

